.home{

padding:40px;

}


.home h1{

text-align:center;

font-size:35px;

}



productContainer{

display:flex;

gap:25px;

flex-wrap:wrap;

justify-content:center;

}



.productContainer{

display:flex;

gap:25px;

flex-wrap:wrap;

justify-content:center;

}



.productCard{

width:260px;

padding:20px;

border:1px solid #ddd;

border-radius:15px;

text-align:center;

background:white;

}



.productCard img{

width:200px;

height:160px;

object-fit:contain;

}



.productCard button{

background:#00c853;

color:white;

border:none;

padding:12px 25px;

border-radius:8px;

cursor:pointer;

}